/* CSS
   ========================================================================== */

*, *:before, *:after {
    margin: 0;
    padding: 0;
    border: 0;
    cursor: none;
}

html {
    display: block;
    max-width: 100vw;
    min-height: 100vh;
}

body {
    overflow: hidden;
    position: relative;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2em;
    background-color: black;
}

a {
    font-size: 14px;
    text-decoration: none;
}

::-moz-selection {
    background: #1c1d25;
    color: #f3f3f3;
    text-shadow: none
}

::selection {
    background: #1c1d25;
    color: #f3f3f3;
    text-shadow: none
}

::-webkit-selection {
    background: #1c1d25;
    color: #f3f3f3;
    text-shadow: none
}

img::-moz-selection {
    background: transparent
}

img::selection {
    background: transparent
}

@font-face {
    font-family: League Spartan;
    src: url(../fonts/leaguespartan-bold.eot);
    src: url(../fonts/leaguespartan-bold.eot?#iefix) format("embedded-opentype"), url(../fonts/leaguespartan-bold.woff2) format("woff2"), url(../fonts/leaguespartan-bold.woff) format("woff"), url(../fonts/leaguespartan-bold.ttf) format("truetype"), url(../fonts/leaguespartan-bold.svg#league_spartanbold) format("svg");
    font-weight: 700;
    font-style: normal
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    color: inherit;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0
}

.hidden {
    display: none;
}

/* Cookie
   ========================================================================== */

.cookie-overlay {
    position: fixed;
    right: calc(50% - 100px);
    bottom: 60px;
    width: 200px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 20px 5px 15px;
    background-color: #b0b2c3;
    border-radius: 3px;
}

.cookie-confirmation, .cookie-text, .cookie-link {
    position: relative;
    font-size: 8px;
}

.cookie-text {
    color: rgba(0, 0, 0, 0.7);
    margin: 0 10px;
}

.cookie-confirmation {
    color: #000;
    font-weight: 500;
}

.cookie-link {
    color: #ff1a7f;
}

.cookie-link:hover, .cookie-confirmation:hover {
    text-decoration: none;
    color: #ff1a7d;
}

/* TV
   ========================================================================== */

.tv {
    position: fixed;
    height: 100%;
    width: 100%;
}

.tv-body {
    height: 100%;
}

.tv .tv-border {
    position: absolute;
    background: url(../assets/img/loader/tv-border.png) center no-repeat;
    background-size: 100% 105%;
    height: 100%;
    width: 100%;
}

.tv .tv-texture {
    position: absolute;
    height: 100%;
    width: 100%;
}

.tv .tv-texture .tv-texture-coin {
    position: absolute;
    background: url(../assets/img/loader/tv_texture_coin.png) center no-repeat;
    background-size: 80%;
    height: 640px;
    width: 700px;
}

.tv .tv-texture .tv-texture-coin:nth-child(1) {
    left: -70px;
    top: -12px;
}

.tv .tv-texture .tv-texture-coin:nth-child(2) {
    right: -70px;
    top: -12px;
    transform: scaleX(-1);
}

.tv .tv-texture .tv-texture-coin:nth-child(3) {
    right: -70px;
    bottom: -12px;
    transform: rotate(180deg)
}

.tv .tv-texture .tv-texture-coin:nth-child(4) {
    left: -70px;
    bottom: -12px;
    transform: scaleX(-1) rotate(180deg);
}


/* Preloader
   ========================================================================== */

.preloader {
    display: block;
    width: 100%;
    height: 100%;
}

.headphones {
    opacity: 1;
    position: absolute;
    display: flex;
    flex-flow: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #b0b2c3;
    font-size: 12px;
}

.headphones__logo {
    height: 50px;
    width: 100%;
    margin-bottom: 60px;
}

.headphones__logo>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.intro-container {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2.2vw;
}

.general-octagon-container {
    position: absolute;
    left: 0;
    top: 0;
    /* transition: transform .8s cubic-bezier(.7, .3, 0, 1); */
}

.octagon-logo {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -2px
}

.octagon-svg-shape {
    fill: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 130px;
    height: 130px;
    margin: -65px 0 0 -65px
}

.intro-click-hold-drawer path {
    stroke: #2ea7ec;
    stroke-width: 4px;
}

.intro-click-hold {
    stroke: #555;
    stroke-width: 2px;
    transition: 1s;
}

.octagon-click-hold-container:hover .intro-click-hold {
    stroke: #b0b2c3;
}

.intro-container .intro-descriptor {
    left: 0;
    margin-top: 90px;
    width: 100%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.overflow-text {
    display: block;
    overflow: hidden;
    color: #b0b2c3;
    font-weight: bold;
    font-size: 16px;
}

.overflow-text>span {
    opacity: 0;
}

.intro-container .intro-descriptor span:nth-child(1) {
    transition: 5s cubic-bezier(.52, .01, .16, 1) 0s
}

.intro-container .intro-descriptor span:nth-child(2) {
    transition: 5.2s cubic-bezier(.52, .01, .16, 1) .22s
}

.intro-container .intro-descriptor span:nth-child(3) {
    transition: 5.4s cubic-bezier(.52, .01, .16, 1) .44s;
}

/* Index
   ========================================================================== */

.index__container {
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    /* background: -webkit-repeating-linear-gradient( top, black 0px, transparent 2px, rgba(0, 0, 0, 0.25) 2px, rgba(0, 0, 0, 0.25) 4px); */
    background-image: url("../assets/img/home/sunset.png");
    background-size: 1300px;
    background-position: center top -140px;
    background-repeat: no-repeat;
    color: #f3f3f3;
}

.synthwave {
    height: 100%;
    margin-top: 50px;
}

#stageElement {
    display: block;
    z-index: -1;
}

.adventure {
    background: url("../assets/img/home/adventure.png") no-repeat center;
    background-size: 110%;
    height: 550px;
    width: 550px;
    position: fixed;
    left: 50%;
    margin-left: -266px;
    top: -35px;
}

#template, #path {
    fill: none;
}

#template {
    stroke-width: 5px;
    stroke: #444;
}

#path {
    stroke: #88CE02;
    stroke-width: 20px;
    visibility: hidden;
}

/* Navbar
   ========================================================================== */

.navbar__container {
    position: absolute;
    top: 100px;
    padding: 0 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    align-items: normal;
}

.logo-parent {
    height: 50px;
    width: 225px;
    z-index: 10;
}

.logo-child {
    position: absolute;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.w-nav-menu {
    float: right;
}

.nav-links {
    float: right;
    position: relative;
    margin: 0;
    padding-right: 25px;
    top: 20px;
    transition: opacity .35s ease .75s
}

.nav-links a {
    display: block;
    margin-left: 40px;
    font-family: League Spartan, Helvetica, Arial, sans-serif;
    position: relative;
    color: #b0b2c3;
    transition: color .35s ease
}

.nav-links a .nav-link-icon {
    position: absolute;
    top: 7px;
    left: -52px;
    display: inline-block;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 60px;
    height: 26px;
    transition: -webkit-transform .3s cubic-bezier(.694, .048, .335, 1);
    transition: transform .3s cubic-bezier(.694, .048, .335, 1);
    transition: transform .3s cubic-bezier(.694, .048, .335, 1), -webkit-transform .3s cubic-bezier(.694, .048, .335, 1)
}

.nav-links a .nav-link-icon svg {
    width: 60px;
    height: 26px
}

.nav-links a .nav-link-icon svg path {
    fill: #b0b2c3;
    transition: all .25s
}

.nav-links a:before {
    background-color: #235aa6;
    transition: all .25s cubic-bezier(.694, .048, .335, 1) .15s
}

.nav-links a:after, .nav-links a:before {
    content: "";
    position: absolute;
    bottom: 11px;
    right: 0;
    left: auto;
    width: 0;
    height: 3px;
    z-index: 2
}

.nav-links a:after {
    background-color: #f25757;
    transition: all .25s cubic-bezier(.694, .048, .335, 1)
}

.nav-links a:hover {
    color: #f3f3f3;
    text-decoration: none
}

/* Footer
   ========================================================================== */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    /* pointer-events: none; */
}

/* Sidebar
   ========================================================================== */

.sidebar {
    transition: all 150ms cubic-bezier(0.3, 0.5, 0.25, 1);
    position: absolute;
    width: calc(100vh + 1px);
    height: 50px;
    transform: rotate(-90deg);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(40, 40, 40, 0);
    text-transform: uppercase;
}

@media only screen and (min-width: 1025px) {
    .sidebar {
        min-width: 700px;
        height: calc(3vw + .6rem);
    }
}

.sidebar.sidebar--linked:hover {
    background-color: rgba(40, 40, 40, 0.1);
}

.sidebar--left {
    opacity: 0;
    top: 100%;
    left: 60px;
    transform-origin: 0 0;
}

.sidebar--left.sidebar--linked:hover {
    transform: rotate(-90deg) translateY(0.5rem);
}

.sidebar--right {
    opacity: 0;
    bottom: 0;
    left: calc(100% - 60px);
    transform-origin: 0 100%;
}

.sidebar--right.sidebar--linked:hover {
    transform: rotate(-90deg) translateY(-0.5rem);
}

.sidebar__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.sidebar--left .sidebar__link {
    padding-top: .5rem;
}

.sidebar--right .sidebar__link {
    padding-bottom: .5rem;
}

.sidebar__label {
    position: relative;
}

.sidebar__label::after {
    content: '';
    width: .5rem;
    height: .5rem;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: .75rem;
    transform: translateY(-90%) rotate(45deg);
    border-right: 2px solid;
    border-bottom: 2px solid;
    border-color: currentColor;
}

.sidebar--left .sidebar__label::after {
    transform: translateY(-30%) rotate(-135deg);
}

.sidebar__social {
    position: absolute;
    top: 0;
    left: 95px;
    height: 100%;
    padding-top: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    color: #b0b2c3;
}

.sidebar--contrast .sidebar__social, .sidebar--primary .sidebar__social {
    color: #fff;
}

.sidebar__account {
    display: inline-block;
    margin-left: 1.75rem;
}

.sidebar__account+.sidebar__account {
    margin-left: 1.25rem;
}

.footer__nav {
    padding: 0 10px;
}

.sidebar__text {
    position: relative;
    display: flex;
    flex-flow: column;
    text-align: right;
    transform: rotate(90deg);
    padding-right: 16px;
    margin-top: -75px;
    border-right: 1px solid #b0b2c3;
}

.footer__nav a {
    margin: 15px 0;
    text-decoration: none;
    color: #b0b2c3;
}

.footer__nav a:hover {
    color: #f3f3f3;
}

.footer__node.active {
    color: #2ea7ec;
}

.footer__node.active:hover {
    color: #2ea7ec;
}

.footer__node {
    transition: color 150ms cubic-bezier(0.4, 0.25, 0.3, 1);
    position: relative;
    display: inline-block;
}

.footer__node.active::before {
    content: '';
    width: 35%;
    height: 2px;
    position: absolute;
    bottom: 9px;
    left: 78px;
    background-color: currentColor;
    transform: rotate(-90deg);
}

.footer__node.active::after {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 85px;
    transform: translateX(-50%);
    border-bottom: 5px solid currentColor;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    transform: rotate(-90deg);
}

.icon {
    width: 16px;
    height: 16px;
}

footer h6 {
    font-size: 14px;
}

footer h6:hover {
    transition: 0.3s;
    color: #f3f3f3;
}

footer ul {
    margin-bottom: 13px;
}

#twitter:hover path, #linkedin:hover path, #codepen:hover path, #github:hover path {
    fill: #ff1a7f;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 40px;
}

.contact-button {
    cursor: pointer;
    position: relative;
    background-color: #ff1a7f;
    border-color: #b0b2c3;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    top: -6px;
    transition: transform .2s ease-in;
}

.contact-button>i {
    position: relative;
    top: 14px;
    left: 14px;
}

.contact-button:hover {
    transform: scale(1.19) rotate(47deg)
}

.line {
    display: block;
    width: 2px;
    height: 42px;
    background-color: #b0b2c3;
    position: relative;
    transform: rotate(90deg) translate3d(-6px, 0, 0);
    margin: 0 35px;
}

/* Custom mouse cursor
   ========================================================================== */

.cursor {
    position: fixed;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    z-index: 1000;
}

.cursor-a {
    position: fixed;
    background-color: #ff1a7f;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    z-index: 10000;
    transition: 0.3s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    transform: scale(1);
}

.cursor-a.active {
    opacity: 0.5;
    transform: scale(0);
}

.cursor-a.hovered {
    opacity: 0.08;
}

.badge {
    visibility: hidden;
    margin-top: -204px;
    margin-left: -80.5px;
    position: relative;
    width: 414px;
    transform: rotate(-50deg);
}

.cursor-b {
    position: fixed;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    user-select: none;
    pointer-events: none;
    z-index: 10000000;
    transform: translate(-14px, -14px);
}

.cursor-v {
    width: 38px;
    transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.2s cubic-bezier(0.75, -0.27, 0.3, 1.33) opacity;
    height: 38px;
    border-radius: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #f3f3f3;
}

.cursor-v.active {
    background-color: rgba(255, 255, 255, 0.2);
    opacity: 0.7;
    transform: scale(2);
    border: none;
}

.cursor-v.hovered {
    opacity: 0.06;
}

.text-cursor span {
    color: #f3f3f3;
    font: 14px Arial, sans-serif;
    height: 39px;
    position: absolute;
    width: 0px;
    left: 0;
    top: 0;
    transform-origin: bottom center;
}

.text-cursor {
    display: none;
    transition: all 1000ms ease-out;
}

.char1 {
    transform: rotate(-5deg);
}

.char2 {
    transform: rotate(17deg);
}

.char3 {
    transform: rotate(27deg);
}

.char4 {
    transform: rotate(37deg);
}

.char5 {
    transform: rotate(56deg);
}

.char6 {
    transform: rotate(83deg);
}

.char7 {
    transform: rotate(82deg);
}

.char8 {
    transform: rotate(105deg);
}

.char9 {
    transform: rotate(111deg);
}

.char10 {
    transform: rotate(134deg);
}

.char11 {
    transform: rotate(153deg);
}

.char12 {
    transform: rotate(164deg);
}

.container-close {
    display: flex;
    position: absolute;
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 991px) {
    .cursor-a, .cursor-b, .cursor-v, .text-cursor, .cursor {
        visibility: hidden;
        display: none;
    }
    .div-block-2 {
        top: 30%;
    }
}

/* Sound
   ========================================================================== */

.sound-button {
    color: #2ea7ec;
    opacity: 1;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sound-button.off .sound-wave .bar {
    animation: none
}

.sound-button.off .sound-wave .bar:first-child {
    height: 8px;
    animation-duration: 474ms
}

.sound-button.off .sound-wave .bar:nth-child(2) {
    height: 3px;
    animation-duration: 433ms
}

.sound-button.off .sound-wave .bar:nth-child(3) {
    height: 5px;
    animation-duration: 407ms
}

.sound-button.off .sound-wave .bar:nth-child(4) {
    height: 4px;
    animation-duration: 458ms
}

.sound-button.off .sound-wave .bar:nth-child(5) {
    height: 8px;
    animation-duration: .4s
}

.sound-button:hover .sound-wave .bar {
    background: #fcfcfc
}

.sound-button .sound-wave {
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: height .3s ease-in-out
}

.sound-button .sound-wave .bar {
    display: block;
    width: 3px;
    margin-right: 1px;
    height: 22px;
    background: #2ea7ec;
    animation: sound 0ms -.8s linear infinite alternate;
    transition: height .8s, background .3s
}

@keyframes sound {
    0% {
        opacity: .35;
        height: 6px
    }
    to {
        opacity: 1;
        height: 35px
    }
}

.sound-button .bar:first-child {
    height: 1px;
    animation-duration: 474ms
}

.sound-button .bar:nth-child(2) {
    height: 3px;
    animation-duration: 433ms
}

.sound-button .bar:nth-child(3) {
    height: 5px;
    animation-duration: 407ms
}

.sound-button .bar:nth-child(4) {
    height: 7px;
    animation-duration: 458ms
}

.sound-button .bar:nth-child(5) {
    height: 8px;
    animation-duration: .4s
}

/* About me
   ========================================================================== */

/* Timeline - Years */

.timeline {
    display: none;
}

.timelines-years {
    position: absolute;
    top: 300px;
    padding: 0 0 0 200px;
    margin: 0;
    white-space: nowrap;
    border-top: 1px solid #282828;
    list-style: none;
    font-size: 0;
}

.timelines-years li {
    position: relative;
    top: -6px;
    display: inline-block;
    width: 200px;
    color: #868686;
    font-size: 11px;
    line-height: 11px;
    text-indent: -12px;
}

/* Display last year */

.timelines-years li:last-child {
    width: 100px;
}

/* Timeline - Events */

.timeline-events {
    position: absolute;
    top: 170px;
    padding: 0;
    list-style: none;
    white-space: nowrap;
    /* Fix display: inline-block spacing issue */
    font-size: 0;
}

.timeline-events h2, .timeline-events h3, .timeline-events h4 {
    margin: 0 0 1px 0;
    font-weight: normal;
    font-size: 11px;
}

.timeline-events h2 {
    color: #777;
    text-transform: uppercase;
}

.timeline-events h4 {
    color: #fff;
    font-style: italic;
}

.timeline-events li {
    position: relative;
    display: inline-block;
}

.timeline-events li:before {
    position: absolute;
    left: 0;
    bottom: -36px;
    height: 8px;
    border-radius: 8px;
    content: '';
}

.timeline-events li:nth-child(1) {
    bottom: 0px;
}

.timeline-events li:nth-child(2) {
    bottom: 16px;
}

.timeline-events li:nth-child(3) {
    bottom: 32px;
}

.timeline-events li:nth-child(4) {
    bottom: 48px;
}

.timeline-events li:nth-child(5) {
    bottom: 64px;
}

/* Timeline - Events - Colours */

/* Grey/Green */

.timeline-events li:nth-child(1):before {
    background: #C2E34E;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBmMGYwZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2MyZTM0ZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0f0f0f), color-stop(100%, #c2e34e));
    background-image: -moz-linear-gradient(left, #0f0f0f 0%, #c2e34e 100%);
    background-image: -webkit-linear-gradient(left, #0f0f0f 0%, #c2e34e 100%);
    background-image: linear-gradient(to right, #0f0f0f 0%, #c2e34e 100%);
    border-radius: 0 6px 6px 0;
}

.timeline-events li:nth-child(1) h3 {
    color: #C2E34E;
}

/* Orange */

.timeline-events li:nth-child(2):before {
    background: #FF9704;
}

.timeline-events li:nth-child(2) h3 {
    color: #FF9704;
}

/* Blue */

.timeline-events li:nth-child(3):before {
    background: #56C2F3;
}

.timeline-events li:nth-child(3) h3 {
    color: #56C2F3;
}

/* Red */

.timeline-events li:nth-child(4):before {
    background: #DD3D01;
}

.timeline-events li:nth-child(4) h3 {
    color: #DD3D01;
}

/* Aqua/Grey */

.timeline-events li:nth-child(5):before {
    background: #4A8B8F;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzRhOGI4ZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBmMGYwZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #4a8b8f), color-stop(100%, #0f0f0f));
    background-image: -moz-linear-gradient(left, #4a8b8f 0%, #0f0f0f 100%);
    background-image: -webkit-linear-gradient(left, #4a8b8f 0%, #0f0f0f 100%);
    background-image: linear-gradient(to right, #4a8b8f 0%, #0f0f0f 100%);
    border-radius: 6px 0 0 6px;
}

.timeline-events li:nth-child(5) h3 {
    color: #4A8B8F;
}

/* Timeline - Events - Grid */

/* X years */

.timeline-event-years-0, .timeline-event-years-0:before {
    width: 0px;
}

/* X.5 years */

.timeline-event-years-0-5, .timeline-event-years-0-5:before {
    width: 50px;
}

/* X years */

.timeline-event-years-1, .timeline-event-years-1:before {
    width: 100px;
}

/* X.5 years */

.timeline-event-years-1-5, .timeline-event-years-1-5:before {
    width: 150px;
}

/* X years */

.timeline-event-years-2, .timeline-event-years-2:before {
    width: 200px;
}

/* X.5 years */

.timeline-event-years-2-5, .timeline-event-years-2-5:before {
    width: 250px;
}

/* X years */

.timeline-event-years-3, .timeline-event-years-3:before {
    width: 300px;
}

/* X.5 years */

.timeline-event-years-3-5, .timeline-event-years-3-5:before {
    width: 350px;
}

/* X years */

.timeline-event-years-4, .timeline-event-years-4:before {
    width: 400px;
}

/* X.5 years */

.timeline-event-years-4-5, .timeline-event-years-4-5:before {
    width: 450px;
}

/* X years */

.timeline-event-years-5, .timeline-event-years-5:before {
    width: 500px;
}

/* X.5 years */

.timeline-event-years-5-5, .timeline-event-years-5-5:before {
    width: 550px;
}

/* X years */

.timeline-event-years-6, .timeline-event-years-6:before {
    width: 600px;
}

/* X.5 years */

.timeline-event-years-6-5, .timeline-event-years-6-5:before {
    width: 650px;
}

/* X years */

.timeline-event-years-7, .timeline-event-years-7:before {
    width: 700px;
}

/* X.5 years */

.timeline-event-years-7-5, .timeline-event-years-7-5:before {
    width: 750px;
}

/* X years */

.timeline-event-years-8, .timeline-event-years-8:before {
    width: 800px;
}

/* X.5 years */

.timeline-event-years-8-5, .timeline-event-years-8-5:before {
    width: 850px;
}

/* Timeline - Legend */

.timeline-event-legend {
    position: relative;
}

.timeline-event-legend span {
    position: absolute;
    bottom: -150px;
    left: 850px;
}

.timeline-event-legend h2, .timeline-event-legend h3, .timeline-event-legend h4 {
    display: inline;
    margin-right: 10px;
}

.timeline-event-legend i {
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-bottom-color: #fff;
}

.timeline-event-legend i:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 4px solid transparent;
    border-top-color: #fff;
}

.timeline-event-legend>i {
    bottom: -32px;
    right: -12px;
}

.timeline-event-legend>i:after {
    left: -4px;
    bottom: -12px;
}

.timeline-event-legend span>i {
    top: -1px;
    left: -14px;
}

.timeline-event-legend span>i:after {
    left: -4px;
    bottom: -12px;
}

/*
* — Spipa —
*/

canvas {
    /* background: white; */
    /* background: radial-gradient(#FFF, #DDD); */
    transform-origin: 0 0;
    width: 100%;
    height: 100%;
}

.ui {
    display: none;
    position: fixed;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 120px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
}

.ui p {
    font-size: 11px;
    font-weight: 700;
}

.ui p.zoom {
    margin-bottom: 5px;
}

.ui p.zoom span {
    margin-right: 5px;
    border: solid 1px #777;
    cursor: pointer;
    border-radius: 2px;
}

.ui p.zoom span.zoomin {
    padding: 2px 5px;
}

.ui p.zoom span.zoomout {
    padding: 2px 8px;
}

.ui p.zoom span:hover {
    background: black;
    color: white;
}