.fade_in {
    z-index: 10;
}

.animate_content {
    animation: animate 3s ease;
}

@-moz-keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}

@-o-keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}

@keyframes animate {
    10% {
        transform: scale(1, 0.002);
    }
    35% {
        transform: scale(0.2, 0.002);
        opacity: 1;
    }
    50% {
        transform: scale(0.2, 0.002);
        opacity: 0;
    }
    85% {
        transform: scale(1, 0.002);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
    }
}