{% extends 'base.html.twig' %}

{% block title %}Loading..{% endblock %}

{% block body %}

    <!-- Custom Mouse Cursor -->
    <div class="cursor cursor-a"></div>
    <div class="cursor cursor-b">
        <div class="cursor-v"></div>
        <div class="badge">
            <h1 class="text-cursor">Click & Hold</h1>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}